[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
xlrd = "*"
matplotlib = "*"
googlemaps = "*"
sklearn = "*"
seaborn = "*"
folium = "*"

[requires]
python_version = "3.6"
